# EDA
The goal of this notebook is to:
- [Remove null values and validate data](#remove_null)
- [Transform data into a usable state for modelling](#transform_model)
- Perform data analysis to uncover patterns
- Eliminate any sources of data leakage

## 0. Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

import requests
from bs4 import BeautifulSoup
import re

from sklearn import preprocessing

<a id='remove_null'></a>
## 1. Removing Nulls & Validating Data

In [2]:
df = pd.read_csv("./data/pokedex_raw.csv", index_col=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1028 entries, 0 to 1027
Data columns (total 50 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pokedex_number    1028 non-null   int64
 1   name              1028 non-null   object
 2   german_name       938 non-null    object
 3   japanese_name     938 non-null    object
 4   generation        1028 non-null   int64
 5   status            1028 non-null   object
 6   species           1028 non-null   object
 7   type_number       1028 non-null   int64
 8   type_1            1028 non-null   object
 9   type_2            542 non-null    object
 10  height_m          1028 non-null   float64
 11  weight_kg         1027 non-null   float64
 12  abilities_number  1028 non-null   int64
 13  ability_1         1025 non-null   object
 14  ability_2         513 non-null    object
 15  ability_hidden    810 non-null    object
 16  total_points      1028 non-null   float64
 17  hp                1028 non-null   float64
 18  attack            1028 non-null   float64
 19  defense           1028 non-null   float64
 20  sp_attack         1028 non-null   float64
 21  sp_defense        1028 non-null   float64
 22  speed             1028 non-null   float64
 23  catch_rate        924 non-null    float64
 24  base_friendship   924 non-null    float64
 25  base_experience   924 non-null    float64
 26  growth_rate       1027 non-null   object
 27  egg_type_number   1028 non-null   int64
 28  egg_type_1        1025 non-null   object
 29  egg_type_2        282 non-null    object
 30  percentage_male   792 non-null    float64
 31  egg_cycles        1027 non-null   float64
 32  against_normal    1028 non-null   float64
 33  against_fire      1028 non-null   float64
 34  against_water     1028 non-null   float64
 35  against_electric  1028 non-null   float64
 36  against_grass     1028 non-null   float64
 37  against_ice       1028 non-null   float64
 38  against_fight     1028 non-null   float64
 39  against_poison    1028 non-null   float64
 40  against_ground    1028 non-null   float64
 41  against_flying    1028 non-null   float64
 42  against_psychic   1028 non-null   float64
 43  against_bug       1028 non-null   float64
 44  against_rock      1028 non-null   float64
 45  against_ghost     1028 non-null   float64
 46  against_dragon    1028 non-null   float64
 47  against_dark      1028 non-null   float64
 48  against_steel     1028 non-null   float64
 49  against_fairy     1028 non-null   float64
dtypes: float64(32), int64(5), object(13)
memory usage: 409.6+ KB

### Dropping Unnecessary Columns

In [3]:
df.drop(["german_name", "japanese_name"], axis=1, inplace=True)

### Base Friendship,  Base Experience, Catch Rate, Percentage Male
base_friendship, base_experience, catch_rate, and percentage_male have the same number of null values. Let's investigate.

In [4]:
df.loc[df["base_friendship"].isnull() & df["base_experience"].isnull() & df["catch_rate"].isnull() & df["percentage_male"].isnull(), ["name", "generation", "status", "base_friendship", "base_experience", "catch_rate", "percentage_male"]]

,name,generation,status,base_friendship,base_experience,catch_rate,percentage_male
69,Galarian Meowth,1,Normal,NaN,NaN,NaN,NaN
100,Galarian Ponyta,1,Normal,NaN,NaN,NaN,NaN
102,Galarian Rapidash,1,Normal,NaN,NaN,NaN,NaN
109,Galarian Farfetch'd,1,Normal,NaN,NaN,NaN,NaN
142,Galarian Weezing,1,Normal,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1023,Zacian Hero of Many Battles,8,Legendary,NaN,NaN,NaN,NaN
1024,Zamazenta Crowned Shield,8,Legendary,NaN,NaN,NaN,NaN
1025,Zamazenta Hero of Many Battles,8,Legendary,NaN,NaN,NaN,NaN
1026,Eternatus,8,Legendary,NaN,NaN,NaN,NaN
1027,Eternatus Eternamax,8,Legendary,NaN,NaN,NaN,NaN

A lot of the nulls seem to be either from "Galarian" forms, or from generation 8. We can also see that the four fields are null in the same rows.

In [5]:
df.loc[df["base_friendship"].isnull() & (df["generation"] != 8)].loc[:, ["name", "pokedex_number", "generation", "status"]]

                                  name  pokedex_number  generation    status
69                     Galarian Meowth              52           1    Normal
100                    Galarian Ponyta              77           1    Normal
102                  Galarian Rapidash              78           1    Normal
109                Galarian Farfetch'd              83           1    Normal
142                   Galarian Weezing             110           1    Normal
156                  Galarian Mr. Mime             122           1    Normal
267                   Galarian Corsola             222           2    Normal
314                 Galarian Zigzagoon             263           3    Normal
316                   Galarian Linoone             264           3    Normal
648                  Galarian Darumaka             554           5    Normal
651  Darmanitan Galarian Standard Mode             555           5    Normal
652       Darmanitan Galarian Zen Mode             555           5    Normal
660                    Galarian Yamask             562           5    Normal
717                  Galarian Stunfisk             618           5    Normal
938                             Meltan             808           7  Mythical
939                           Melmetal             809           7  Mythical

In [6]:
df[df["generation"] == 8].isnull().sum()

pokedex_number       0
name                 0
generation           0
status               0
species              0
type_number          0
type_1               0
type_2              48
height_m             0
weight_kg            1
abilities_number     0
ability_1            1
ability_2           42
ability_hidden      13
total_points         0
hp                   0
attack               0
defense              0
sp_attack            0
sp_defense           0
speed                0
catch_rate          88
base_friendship     88
base_experience     88
growth_rate          0
egg_type_number      0
egg_type_1           0
egg_type_2          47
percentage_male     88
egg_cycles           0
against_normal       0
against_fire         0
against_water        0
against_electric     0
against_grass        0
against_ice          0
against_fight        0
against_poison       0
against_ground       0
against_flying       0
against_psychic      0
against_bug          0
against_rock         0
against_ghost        0
against_dragon       0
against_dark         0
against_steel        0
against_fairy        0
dtype: int64

### Filling Gen 8 Nulls
We need percentage_male, catch_rate, base_friendship, base_experience. We use webscraping with BeautifulSoup and bulbapedia.bulbagarden.net.

In [7]:
soup = BeautifulSoup(requests.get("https://bulbapedia.bulbagarden.net/wiki/List_of_Pok%C3%A9mon_by_effort_value_yield").content, "html.parser")
expTable = soup.find_all("tr")
def getBaseExp(pNum, tablerow):
    for row in tablerow[1:]:
        if int(re.search("[0-9]+", str(row.findChildren("td")[0])).group()) == pNum:
            return int(re.search("[0-9]+", str(row.findChildren("td")[3])).group())
for pNum in df.loc[df["generation"] == 8, "pokedex_number"]:
    df.loc[df["pokedex_number"] == pNum, "base_experience"] = getBaseExp(pNum, expTable)

In [8]:
soup = BeautifulSoup(requests.get("https://bulbapedia.bulbagarden.net/wiki/List_of_Pok%C3%A9mon_by_base_friendship").content, "html.parser")
friendTable = soup.find_all("tr")
def getBaseFriendship(pNum, tablerow):
    for row in tablerow[2:]:
        if int(re.search("[0-9]+", str(row.findChildren("td")[0])).group()) == pNum:
            return int(re.search("[0-9]+", str(row.findChildren("td")[4])).group())
for pNum in df["pokedex_number"]:
    df.loc[df["pokedex_number"] == pNum, "base_friendship"] = getBaseFriendship(pNum, friendTable)

In [9]:
soup = BeautifulSoup(requests.get("https://bulbapedia.bulbagarden.net/wiki/List_of_Pok%C3%A9mon_by_catch_rate").content, "html.parser")
catchTable = soup.find_all("tr")
def getCatchRate(pNum, tablerow):
    for row in tablerow[2:]:
        if int(re.search("[0-9]+", str(row.findChildren("th")[0])).group()) == pNum:
            return int(re.search("[0-9]+", str(row.findChildren("td")[2])).group())
for pNum in df.loc[df["generation"] == 8, "pokedex_number"]:
    df.loc[df["pokedex_number"] == pNum, "catch_rate"] = getCatchRate(pNum, catchTable)

In [10]:
soup = BeautifulSoup(requests.get("https://bulbapedia.bulbagarden.net/wiki/List_of_Pok%C3%A9mon_by_gender_ratio").content, "html.parser")
genderTable = soup.find_all("table", {"class": "sortable"})
def getPercentageMale(pNum, table):
    for i in range(len(table)):
        rows = table[i].findChildren("tr")[1:]
        for row in rows:
            if int(re.search("[0-9]+", str(row.findChildren("td")[0])).group()) == pNum:
                if 0 <= i < 2: return 100.
                elif 2 <= i < 4: return 87.5
                elif 4 <= i < 6: return 75.
                elif 6 <= i < 8: return 50.
                elif 8 <= i < 10: return 25.
                elif 10 <= i < 11: return 12.5
                elif 11 <= i < 13: return 0.
                else: return np.nan
for pNum in df.loc[df["generation"] == 8, "pokedex_number"]:
    df.loc[df["pokedex_number"] == pNum, "percentage_male"] = getPercentageMale(pNum, genderTable)

### Meltan, Melmetal, and Galarians
In addition to the Galarian forms, there are still 2 null rows for the four fields above, and they correspond to meltan and melmetal (pokedex numbers 808, 809).

In [11]:
for pNum in range(808, 810):
    df.loc[df["pokedex_number"] == pNum, "percentage_male"] = getPercentageMale(pNum, genderTable)
    df.loc[df["pokedex_number"] == pNum, "catch_rate"] = getCatchRate(pNum, catchTable)
    df.loc[df["pokedex_number"] == pNum, "base_friendship"] = getBaseFriendship(pNum, friendTable)
    df.loc[df["pokedex_number"] == pNum, "base_experience"] = getBaseExp(pNum, expTable)
for pNum in df[df["name"].str.contains("Galarian")]["pokedex_number"]:
    df.loc[df["pokedex_number"] == pNum, "percentage_male"] = getPercentageMale(pNum, genderTable)
    df.loc[df["pokedex_number"] == pNum, "catch_rate"] = getCatchRate(pNum, catchTable)
    df.loc[df["pokedex_number"] == pNum, "base_friendship"] = getBaseFriendship(pNum, friendTable)
    df.loc[df["pokedex_number"] == pNum, "base_experience"] = getBaseExp(pNum, expTable)

### Percentage Male
A large number of percentage_male is null, but null is an acceptable field (genderless). We check the validity of the original data by comparing it to our calculated results for the entire dataset.

In [12]:
maleTester = pd.DataFrame(df["pokedex_number"])
maleTester["calculated_percentage_male"] = df.apply(lambda row: getPercentageMale(row["pokedex_number"], genderTable), axis=1)
df[df["percentage_male"] != maleTester["calculated_percentage_male"]]

print(len(df[df["percentage_male"].isnull() ^ maleTester["calculated_percentage_male"].isnull()]))

0

### Weight
We see one missing value for weight.

In [13]:
df.loc[df["weight_kg"].isnull()]

,pokedex_number,name,generation,status,species,type_number,type_1,type_2,height_m,weight_kg,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
1027,890,Eternatus Eternamax,8,Legendary,Gigantic PokÃ©mon,2,Poison,Dragon,100.0,NaN,...,2.0,1.0,2.0,0.5,1.0,1.0,2.0,1.0,1.0,1.0

A quick manual search shows that Eternatus Eternamax is a pokemon so large, it has no known weight, so we set it to int max for now.

In [14]:
df.loc[df["weight_kg"].isnull(), "weight_kg"] = np.finfo(np.float64).max

### Ability 1
There are 3 missing values for ability 1.

In [15]:
df.loc[df["ability_1"].isnull(), ["name", "pokedex_number", "abilities_number", "ability_1", "ability_2", "ability_hidden"]]

,name,pokedex_number,abilities_number,ability_1,ability_2,ability_hidden
33,Partner Pikachu,25,1,NaN,NaN,Lightning Rod
170,Partner Eevee,133,1,NaN,NaN,Anticipation
1027,Eternatus Eternamax,890,0,NaN,NaN,NaN

We leave these pokemon in for completeness. 

As for Eternatus Eternamax, we fill its null values with its base form, Eternatus.

In [16]:
df[df["name"] == "Eternatus Eternamax"].isnull().any() & ~df[df["name"] == "Eternatus"].isnull().any()

pokedex_number      False
name                False
generation          False
status              False
species             False
type_number         False
type_1              False
type_2              False
height_m            False
weight_kg           False
abilities_number    False
ability_1            True
ability_2           False
ability_hidden      False
total_points        False
hp                  False
attack              False
defense             False
sp_attack           False
sp_defense          False
speed               False
catch_rate          False
base_friendship     False
base_experience     False
growth_rate         False
egg_type_number     False
egg_type_1          False
egg_type_2          False
percentage_male     False
egg_cycles          False
against_normal      False
against_fire        False
against_water       False
against_electric    False
against_grass       False
against_ice         False
against_fight       False
against_poison      False
against_ground      False
against_flying      False
against_psychic     False
against_bug         False
against_rock        False
against_ghost       False
against_dragon      False
against_dark        False
against_steel       False
against_fairy       False
dtype: bool

In [17]:
df.loc[df["name"] == "Eternatus Eternamax", "ability_1"] = df[df["name"] == "Eternatus"]["ability_1"].values

### Egg Cycles and Growth Rate

In [18]:
df[df["egg_cycles"].isnull() & df["growth_rate"].isnull()]

,pokedex_number,name,generation,status,species,type_number,type_1,type_2,height_m,weight_kg,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
652,555,Darmanitan Galarian Zen Mode,5,Normal,Zen Charm PokÃ©mon,2,Ice,Fire,1.7,120.0,...,2.0,1.0,1.0,0.5,4.0,1.0,1.0,1.0,1.0,0.5

We fill this pokemon's null fields with its non-Galarian version.

In [19]:
df.loc[df["name"] == "Darmanitan Galarian Zen Mode", "egg_cycles"] = df[df["name"] == "Darmanitan Zen Mode"]["egg_cycles"].values
df.loc[df["name"] == "Darmanitan Galarian Zen Mode", "growth_rate"] = df[df["name"] == "Darmanitan Zen Mode"]["growth_rate"].values
df.loc[df["name"] == "Darmanitan Galarian Zen Mode", "egg_type_1"] = df[df["name"] == "Darmanitan Zen Mode"]["egg_type_1"].values

### Type Number, Ability Number, and Egg Type Number

We note that there are two inconsistencies with these fields, where the ability or egg type number is 0, but the pokemon does have an ability or egg type, respectively.

In [20]:
df.loc[(df['abilities_number'] == 0) & ~df['ability_1'].isnull(), ['name', 'abilities_number', 'ability_1', 'ability_2', 'ability_hidden']]

                     name  abilities_number ability_1 ability_2 ability_hidden
1027  Eternatus Eternamax                 0  Pressure       NaN            NaN

In [21]:
df.loc[(df['egg_type_number'] == 0) & ~df['egg_type_1'].isnull(), ['name', 'egg_type_number', 'egg_type_1', 'egg_type_2']]

                             name  egg_type_number egg_type_1 egg_type_2
652  Darmanitan Galarian Zen Mode                0      Field        NaN

We set these values to 1.

In [22]:
df.loc[df["name"] == "Eternatus Eternamax", "abilities_number"] = 1
df.loc[df["name"] == "Darmanitan Galarian Zen Mode", "egg_type_number"] = 1

We then verify that the remaining data is valid.

In [23]:
print(len(df[(df['type_number'] == 0) & ~df['type_1'].isnull()]))
print(len(df[(df['type_number'] == 1) & ~df['type_2'].isnull()]))
print(len(df[(df['type_number'] == 2) & df['type_2'].isnull()]))

print(len(df[df['abilities_number'] == 0] & ~df['ability_1'].isnull()))
print(len(df[(df['abilities_number'] == 1) & ~(df['ability_2'].isnull() | df['ability_hidden'].isnull())]))
print(len(df[(df['abilities_number'] == 2) & (df['ability_2'].isnull() & df['ability_hidden'].isnull())]))
print(len(df[(df['abilities_number'] == 3) & (df['ability_2'].isnull() | df['ability_hidden'].isnull())]))

print(len(df[(df['egg_type_number'] == 0) & ~df['egg_type_1'].isnull()]))
print(len(df[(df['egg_type_number'] == 1) & ~df['egg_type_2'].isnull()]))
print(len(df[(df['egg_type_number'] == 2) & df['egg_type_2'].isnull()]))

0
0
0
0
0
0
0
0
0
0

### Saving Version

In [24]:
df.to_csv("./data/pokedex_clean.csv")

<a id='transform_model'></a>
## 2. Transform Data for Modelling

All the invalid/incomplete data has been filled. This section will replace remaining valid null values with a more appropriate number or by encoding it with a one-hot tensor, for example.

In [25]:
df = pd.read_csv("./data/pokedex_clean.csv", index_col = 0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1028 entries, 0 to 1027
Data columns (total 48 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pokedex_number    1028 non-null   int64
 1   name              1028 non-null   object
 2   generation        1028 non-null   int64
 3   status            1028 non-null   object
 4   species           1028 non-null   object
 5   type_number       1028 non-null   int64
 6   type_1            1028 non-null   object
 7   type_2            542 non-null    object
 8   height_m          1028 non-null   float64
 9   weight_kg         1028 non-null   float64
 10  abilities_number  1028 non-null   int64
 11  ability_1         1026 non-null   object
 12  ability_2         513 non-null    object
 13  ability_hidden    810 non-null    object
 14  total_points      1028 non-null   float64
 15  hp                1028 non-null   float64
 16  attack            1028 non-null   float64
 17  defense           1028 non-null   float64
 18  sp_attack         1028 non-null   float64
 19  sp_defense        1028 non-null   float64
 20  speed             1028 non-null   float64
 21  catch_rate        1028 non-null   float64
 22  base_friendship   1028 non-null   float64
 23  base_experience   1028 non-null   float64
 24  growth_rate       1028 non-null   object
 25  egg_type_number   1028 non-null   int64
 26  egg_type_1        1026 non-null   object
 27  egg_type_2        282 non-null    object
 28  percentage_male   881 non-null    float64
 29  egg_cycles        1028 non-null   float64
 30  against_normal    1028 non-null   float64
 31  against_fire      1028 non-null   float64
 32  against_water     1028 non-null   float64
 33  against_electric  1028 non-null   float64
 34  against_grass     1028 non-null   float64
 35  against_ice       1028 non-null   float64
 36  against_fight     1028 non-null   float64
 37  against_poison    1028 non-null   float64
 38  against_ground    1028 non-null   float64
 39  against_flying    1028 non-null   float64
 40  against_psychic   1028 non-null   float64
 41  against_bug       1028 non-null   float64
 42  against_rock      1028 non-null   float64
 43  against_ghost     1028 non-null   float64
 44  against_dragon    1028 non-null   float64
 45  against_dark      1028 non-null   float64
 46  against_steel     1028 non-null   float64
 47  against_fairy     1028 non-null   float64
dtypes: float64(32), int64(5), object(11)
memory usage: 393.5+ KB

### Multilabel Categorical Encoding

#### Type 1, Type 2

In [26]:
df["types"] = df[["type_1", "type_2"]].fillna("").apply(lambda row: [x for x in [row["type_1"], row["type_2"]] if len(x) > 0], axis=1)
mlb_types = preprocessing.MultiLabelBinarizer()
encoded_types = pd.DataFrame(mlb_types.fit_transform(df["types"]), columns="type_" + mlb_types.classes_, index=df.index)
df = pd.concat([df, encoded_types], axis=1).drop(["types", "type_1", "type_2"], axis=1)

#### Ability 1, Ability 2, Ability Hidden

In [27]:
df["abilities"] = df[["ability_1", "ability_2", "ability_hidden"]].fillna("").apply(lambda row: [x for x in [row["ability_1"], row["ability_2"], row["ability_hidden"]] if len(x) > 0], axis=1)
mlb_abilities = preprocessing.MultiLabelBinarizer()
encoded_abilities = pd.DataFrame(mlb_abilities.fit_transform(df["abilities"]), columns="ability_" + mlb_abilities.classes_, index=df.index)
df = pd.concat([df, encoded_abilities], axis=1).drop(["abilities", "ability_1", "ability_2", "ability_hidden"], axis=1)

#### Egg Type 1, Egg Type 2

In [28]:
df["egg_types"] = df[["egg_type_1", "egg_type_2"]].fillna("None").apply(lambda row: [x for x in [row["egg_type_1"], row["egg_type_2"]] if len(x) > 0], axis=1)
mlb_egg_types = preprocessing.MultiLabelBinarizer()
encoded_egg_types = pd.DataFrame(mlb_egg_types.fit_transform(df["egg_types"]), columns="egg_type_" + mlb_egg_types.classes_, index=df.index)
df = pd.concat([df, encoded_egg_types], axis=1).drop(["egg_types", "egg_type_1", "egg_type_2"], axis=1)

### Ordinal Encoding

#### Growth Rate

In [29]:
df["percentage_male"].value_counts()

50.0     634
87.5     130
0.0       36
25.0      33
100.0     28
75.0      20
Name: percentage_male, dtype: int64

In [30]:
oe = preprocessing.OrdinalEncoder(categories = [["Erratic", "Fast", "Medium Fast", "Medium Slow", "Slow", "Fluctuating"], [-1.0, 0.0, 25.0, 50.0, 75.0, 87.5, 100.0]])
df.loc[:, ["growth_rate", "percentage_male"]] = oe.fit_transform(df[["growth_rate", "percentage_male"]].fillna(-1.0))

### One Hot Encoding

#### Status

In [31]:
ohe_status = preprocessing.OneHotEncoder(sparse=False)
encoded_status = pd.DataFrame(ohe_status.fit_transform(df[["status"]]), columns="status_" +  ohe_status.categories_[0], index=df.index)
df = pd.concat([df, encoded_status], axis=1).drop(["status"], axis=1)

#### Species

In [32]:
ohe_species = preprocessing.OneHotEncoder(sparse=False)
encoded_species = pd.DataFrame(ohe_species.fit_transform(df[["species"]]), columns="species_" + ohe_species.categories_[0], index=df.index)
df = pd.concat([df, encoded_species], axis=1).drop(["species"], axis=1)

In [33]:
df.info(verbose=True, show_counts=True)

mon           1028 non-null   float64
 650  species_Leaf PokÃ©mon           1028 non-null   float64
 651  species_Leaf-Wrapped PokÃ©mon   1028 non-null   float64
 652  species_Legendary PokÃ©mon      1028 non-null   float64
 653  species_Licking PokÃ©mon        1028 non-null   float64
 654  species_Life PokÃ©mon           1028 non-null   float64
 655  species_Light PokÃ©mon          1028 non-null   float64
 656  species_Lightning PokÃ©mon      1028 non-null   float64
 657  species_Lingering PokÃ©mon      1028 non-null   float64
 658  species_Lion Cub PokÃ©mon       1028 non-null   float64
 659  species_Lissome PokÃ©mon        1028 non-null   float64
 660  species_Little Bear PokÃ©mon    1028 non-null   float64
 661  species_Live Coal PokÃ©mon      1028 non-null   float64
 662  species_Lizard PokÃ©mon         1028 non-null   float64
 663  species_Loitering PokÃ©mon      1028 non-null   float64
 664  species_Lonely PokÃ©mon         1028 non-null   float64
 665  species_Long Body PokÃ©mon      1028 non-null   float64
 666  species_Long Leg PokÃ©mon       1028 non-null   float64
 667  species_Long Neck PokÃ©mon      1028 non-null   float64
 668  species_Long Nose PokÃ©mon      1028 non-null   float64
 669  species_Long Tail PokÃ©mon      1028 non-null   float64
 670  species_Longevity PokÃ©mon      1028 non-null   float64
 671  species_Lookout PokÃ©mon        1028 non-null   float64
 672  species_Loud Noise PokÃ©mon     1028 non-null   float64
 673  species_Loyal Dog PokÃ©mon      1028 non-null   float64
 674  species_Lunar PokÃ©mon          1028 non-null   float64
 675  species_Luring PokÃ©mon         1028 non-null   float64
 676  species_Mach PokÃ©mon           1028 non-null   float64
 677  species_Magical PokÃ©mon        1028 non-null   float64
 678  species_Magnet Area PokÃ©mon    1028 non-null   float64
 679  species_Magnet PokÃ©mon         1028 non-null   float64
 680  species_Manipulate PokÃ©mon     1028 non-null   float64
 681  species_Mantis PokÃ©mon         1028 non-null   float64
 682  species_Mantle PokÃ©mon         1028 non-null   float64
 683  species_Marionette PokÃ©mon     1028 non-null   float64
 684  species_Martial Arts PokÃ©mon   1028 non-null   float64
 685  species_Meditate PokÃ©mon       1028 non-null   float64
 686  species_Mega Fire Pig PokÃ©mon  1028 non-null   float64
 687  species_Megapede PokÃ©mon       1028 non-null   float64
 688  species_Megaton PokÃ©mon        1028 non-null   float64
 689  species_Melody PokÃ©mon         1028 non-null   float64
 690  species_Meringue PokÃ©mon       1028 non-null   float64
 691  species_Meteor PokÃ©mon         1028 non-null   float64
 692  species_Meteorite PokÃ©mon      1028 non-null   float64
 693  species_Milk Cow PokÃ©mon       1028 non-null   float64
 694  species_Mime PokÃ©mon           1028 non-null   float64
 695  species_Mischief PokÃ©mon       1028 non-null   float64
 696  species_Mitosis PokÃ©mon        1028 non-null   float64
 697  species_Mock Kelp PokÃ©mon      1028 non-null   float64
 698  species_Mold PokÃ©mon           1028 non-null   float64
 699  species_Mole PokÃ©mon           1028 non-null   float64
 700  species_Moone PokÃ©mon          1028 non-null   float64
 701  species_Moonlight PokÃ©mon      1028 non-null   float64
 702  species_Moth PokÃ©mon           1028 non-null   float64
 703  species_Mount PokÃ©mon          1028 non-null   float64
 704  species_Mouse PokÃ©mon          1028 non-null   float64
 705  species_Mud Fish PokÃ©mon       1028 non-null   float64
 706  species_Multiplying PokÃ©mon    1028 non-null   float64
 707  species_Muscular PokÃ©mon       1028 non-null   float64
 708  species_Mushroom PokÃ©mon       1028 non-null   float64
 709  species_Music Note PokÃ©mon     1028 non-null   float64
 710  species_Mysterious PokÃ©mon     1028 non-null   float64
 711  species_Mystic PokÃ©mon         1028 non-null   float64
 712  species_Nebula PokÃ©mon         1028 non-null   float64
 713  species_Neon PokÃ©mon           1028 non-null   float64
 714  species_New Species PokÃ©mon    1028 non-null   float64
 715  species_Ninja PokÃ©mon          1028 non-null   float64
 716  species_Numb PokÃ©mon           1028 non-null   float64
 717  species_Nurturing PokÃ©mon      1028 non-null   float64
 718  species_Ogre Darner PokÃ©mon    1028 non-null   float64
 719  species_Ogre Scorp PokÃ©mon     1028 non-null   float64
 720  species_Old Shrimp PokÃ©mon     1028 non-null   float64
 721  species_Order PokÃ©mon          1028 non-null   float64
 722  species_Ore PokÃ©mon            1028 non-null   float64
 723  species_Overturning PokÃ©mon    1028 non-null   float64
 724  species_Owl PokÃ©mon            1028 non-null   float64
 725  species_Painter PokÃ©mon        1028 non-null   float64
 726  species_Paleozoic PokÃ©mon      1028 non-null   float64
 727  species_Parasite PokÃ©mon       1028 non-null   float64
 728  species_Parent PokÃ©mon         1028 non-null   float64
 729  species_Patient PokÃ©mon        1028 non-null   float64
 730  species_Penguin PokÃ©mon        1028 non-null   float64
 731  species_Perfume PokÃ©mon        1028 non-null   float64
 732  species_Pig Monkey PokÃ©mon     1028 non-null   float64
 733  species_Pig PokÃ©mon            1028 non-null   float64
 734  species_Pincer PokÃ©mon         1028 non-null   float64
 735  species_Pitch-Black PokÃ©mon    1028 non-null   float64
 736  species_Placid PokÃ©mon         1028 non-null   float64
 737  species_Plasma PokÃ©mon         1028 non-null   float64
 738  species_Plate PokÃ©mon          1028 non-null   float64
 739  species_Playful PokÃ©mon        1028 non-null   float64
 740  species_Playhouse PokÃ©mon      1028 non-null   float64
 741  species_Plump Mouse PokÃ©mon    1028 non-null   float64
 742  species_Poison Bag PokÃ©mon     1028 non-null   float64
 743  species_Poison Bee PokÃ©mon     1028 non-null   float64
 744  species_Poison Gas PokÃ©mon     1028 non-null   float64
 745  species_Poison Moth PokÃ©mon    1028 non-null   float64
 746  species_Poison Pin PokÃ©mon     1028 non-null   float64
 747  species_Polka Dot PokÃ©mon      1028 non-null   float64
 748  species_Pond Skater PokÃ©mon    1028 non-null   float64
 749  species_Poodle PokÃ©mon         1028 non-null   float64
 750  species_Pop Star PokÃ©mon       1028 non-null   float64
 751  species_Posy Picker PokÃ©mon    1028 non-null   float64
 752  species_Predator PokÃ©mon       1028 non-null   float64
 753  species_Prim PokÃ©mon           1028 non-null   float64
 754  species_Prism PokÃ©mon          1028 non-null   float64
 755  species_Protostar PokÃ©mon      1028 non-null   float64
 756  species_Prototurtle PokÃ©mon    1028 non-null   float64
 757  species_Proud PokÃ©mon          1028 non-null   float64
 758  species_Psi PokÃ©mon            1028 non-null   float64
 759  species_Pumpkin PokÃ©mon        1028 non-null   float64
 760  species_Punching PokÃ©mon       1028 non-null   float64
 761  species_Punk PokÃ©mon           1028 non-null   float64
 762  species_Puppet PokÃ©mon         1028 non-null   float64
 763  species_Puppy PokÃ©mon          1028 non-null   float64
 764  species_Rabbit PokÃ©mon         1028 non-null   float64
 765  species_Radiator PokÃ©mon       1028 non-null   float64
 766  species_Radome PokÃ©mon         1028 non-null   float64
 767  species_Rainbow PokÃ©mon        1028 non-null   float64
 768  species_Rampart PokÃ©mon        1028 non-null   float64
 769  species_Raven PokÃ©mon          1028 non-null   float64
 770  species_Regal PokÃ©mon          1028 non-null   float64
 771  species_Rendezvous PokÃ©mon     1028 non-null   float64
 772  species_Renegade PokÃ©mon       1028 non-null   float64
 773  species_Requiem PokÃ©mon        1028 non-null   float64
 774  species_Restraint PokÃ©mon      1028 non-null   float64
 775  species_Revolving PokÃ©mon      1028 non-null   float64
 776  species_River Crab PokÃ©mon     1028 non-null   float64
 777  species_Rock Head PokÃ©mon      1028 non-null   float64
 778  species_Rock Inn PokÃ©mon       1028 non-null   float64
 779  species_Rock Peak PokÃ©mon      1028 non-null   float64
 780  species_Rock PokÃ©mon           1028 non-null   float64
 781  species_Rock Skin PokÃ©mon      1028 non-null   float64
 782  species_Rock Snake PokÃ©mon     1028 non-null   float64
 783  species_Rogue PokÃ©mon          1028 non-null   float64
 784  species_Roly-Poly PokÃ©mon      1028 non-null   float64
 785  species_Royal Heir PokÃ©mon     1028 non-null   float64
 786  species_Royal PokÃ©mon          1028 non-null   float64
 787  species_Royal Sword PokÃ©mon    1028 non-null   float64
 788  species_Ruffian PokÃ©mon        1028 non-null   float64
 789  species_Rush PokÃ©mon           1028 non-null   float64
 790  species_Rushing PokÃ©mon        1028 non-null   float64
 791  species_Sage PokÃ©mon           1028 non-null   float64
 792  species_Sand Castle PokÃ©mon    1028 non-null   float64
 793  species_Sand Heap PokÃ©mon      1028 non-null   float64
 794  species_Sand Snake PokÃ©mon     1028 non-null   float64
 795  species_Savage PokÃ©mon         1028 non-null   float64
 796  species_Scale PokÃ©mon          1028 non-null   float64
 797  species_Scaly PokÃ©mon          1028 non-null   float64
 798  species_Scarecrow PokÃ©mon      1028 non-null   float64
 799  species_Scarf PokÃ©mon          1028 non-null   float64
 800  species_Scatterdust PokÃ©mon    1028 non-null   float64
 801  species_Scorching PokÃ©mon      1028 non-null   float64
 802  species_Scorpion PokÃ©mon       1028 non-null   float64
 803  species_Scout PokÃ©mon          1028 non-null   float64
 804  species_Scratch Cat PokÃ©mon    1028 non-null   float64
 805  species_Screech PokÃ©mon        1028 non-null   float64
 806  species_Scuffle PokÃ©mon        1028 non-null   float64
 807  species_Sea Basin PokÃ©mon      1028 non-null   float64
 808  species_Sea Creeper PokÃ©mon    1028 non-null   float64
 809  species_Sea Cucumber PokÃ©mon   1028 non-null   float64
 810  species_Sea Drifter PokÃ©mon    1028 non-null   float64
 811  species_Sea Lily PokÃ©mon       1028 non-null   float64
 812  species_Sea Lion PokÃ©mon       1028 non-null   float64
 813  species_Sea Otter PokÃ©mon      1028 non-null   float64
 814  species_Sea Slug PokÃ©mon       1028 non-null   float64
 815  species_Sea Urchin PokÃ©mon     1028 non-null   float64
 816  species_Sea Weasel PokÃ©mon     1028 non-null   float64
 817  species_Seafaring PokÃ©mon      1028 non-null   float64
 818  species_Seagull PokÃ©mon        1028 non-null   float64
 819  species_Season PokÃ©mon         1028 non-null   float64
 820  species_Secret Agent PokÃ©mon   1028 non-null   float64
 821  species_Seed PokÃ©mon           1028 non-null   float64
 822  species_Serene PokÃ©mon         1028 non-null   float64
 823  species_Seven Spot PokÃ©mon     1028 non-null   float64
 824  species_Sewing PokÃ©mon         1028 non-null   float64
 825  species_Shadow PokÃ©mon         1028 non-null   float64
 826  species_Sharp Blade PokÃ©mon    1028 non-null   float64
 827  species_Sharp Claw PokÃ©mon     1028 non-null   float64
 828  species_Shed PokÃ©mon           1028 non-null   float64
 829  species_Shedding PokÃ©mon       1028 non-null   float64
 830  species_Sheep PokÃ©mon          1028 non-null   float64
 831  species_Shell Out PokÃ©mon      1028 non-null   float64
 832  species_Shellfish PokÃ©mon      1028 non-null   float64
 833  species_Shield PokÃ©mon         1028 non-null   float64
 834  species_Sickle Grass PokÃ©mon   1028 non-null   float64
 835  species_Silent PokÃ©mon         1028 non-null   float64
 836  species_Single Bloom PokÃ©mon   1028 non-null   float64
 837  species_Single Horn PokÃ©mon    1028 non-null   float64
 838  species_Skewer PokÃ©mon         1028 non-null   float64
 839  species_Skunk PokÃ©mon          1028 non-null   float64
 840  species_Sky High PokÃ©mon       1028 non-null   float64
 841  species_Sky Squirrel PokÃ©mon   1028 non-null   float64
 842  species_Slacker PokÃ©mon        1028 non-null   float64
 843  species_Sleeping PokÃ©mon       1028 non-null   float64
 844  species_Sludge PokÃ©mon         1028 non-null   float64
 845  species_Small Fry PokÃ©mon      1028 non-null   float64
 846  species_Snail PokÃ©mon          1028 non-null   float64
 847  species_Snake PokÃ©mon          1028 non-null   float64
 848  species_Snapping PokÃ©mon       1028 non-null   float64
 849  species_Snow Hat PokÃ©mon       1028 non-null   float64
 850  species_Snow Land PokÃ©mon      1028 non-null   float64
 851  species_Snowstorm PokÃ©mon      1028 non-null   float64
 852  species_Soft Tissue PokÃ©mon    1028 non-null   float64
 853  species_Soloist PokÃ©mon        1028 non-null   float64
 854  species_Sound Wave PokÃ©mon     1028 non-null   float64
 855  species_South Sea PokÃ©mon      1028 non-null   float64
 856  species_Spark PokÃ©mon          1028 non-null   float64
 857  species_Spatial PokÃ©mon        1028 non-null   float64
 858  species_Spike Ball PokÃ©mon     1028 non-null   float64
 859  species_Spikes PokÃ©mon         1028 non-null   float64
 860  species_Spiny Armor PokÃ©mon    1028 non-null   float64
 861  species_Spiny Nut PokÃ©mon      1028 non-null   float64
 862  species_Spiral PokÃ©mon         1028 non-null   float64
 863  species_Spirit PokÃ©mon         1028 non-null   float64
 864  species_Spitfire PokÃ©mon       1028 non-null   float64
 865  species_Spot Panda PokÃ©mon     1028 non-null   float64
 866  species_Spray PokÃ©mon          1028 non-null   float64
 867  species_Stag Beetle PokÃ©mon    1028 non-null   float64
 868  species_Stakeout PokÃ©mon       1028 non-null   float64
 869  species_Star Shape PokÃ©mon     1028 non-null   float64
 870  species_Starling PokÃ©mon       1028 non-null   float64
 871  species_Stealth PokÃ©mon        1028 non-null   float64
 872  species_Steam PokÃ©mon          1028 non-null   float64
 873  species_Stomach PokÃ©mon        1028 non-null   float64
 874  species_Stone Home PokÃ©mon     1028 non-null   float64
 875  species_Striker PokÃ©mon        1028 non-null   float64
 876  species_String Spit PokÃ©mon    1028 non-null   float64
 877  species_Strong Arm PokÃ©mon     1028 non-null   float64
 878  species_Stump PokÃ©mon          1028 non-null   float64
 879  species_Subterrene PokÃ©mon     1028 non-null   float64
 880  species_Sun PokÃ©mon            1028 non-null   float64
 881  species_Sunne PokÃ©mon          1028 non-null   float64
 882  species_Superpower PokÃ©mon     1028 non-null   float64
 883  species_Swallow PokÃ©mon        1028 non-null   float64
 884  species_Swine PokÃ©mon          1028 non-null   float64
 885  species_Swollen PokÃ©mon        1028 non-null   float64
 886  species_Sword Blade PokÃ©mon    1028 non-null   float64
 887  species_Sword PokÃ©mon          1028 non-null   float64
 888  species_Symbol PokÃ©mon         1028 non-null   float64
 889  species_Synthetic PokÃ©mon      1028 non-null   float64
 890  species_Tadpole PokÃ©mon        1028 non-null   float64
 891  species_Tantrum PokÃ©mon        1028 non-null   float64
 892  species_Teamwork PokÃ©mon       1028 non-null   float64
 893  species_Temporal PokÃ©mon       1028 non-null   float64
 894  species_Tender PokÃ©mon         1028 non-null   float64
 895  species_Thorn Monkey PokÃ©mon   1028 non-null   float64
 896  species_Thorn Pod PokÃ©mon      1028 non-null   float64
 897  species_Thorn PokÃ©mon          1028 non-null   float64
 898  species_Thorn Seed PokÃ©mon     1028 non-null   float64
 899  species_Thunder PokÃ©mon        1028 non-null   float64
 900  species_Thunderbolt PokÃ©mon    1028 non-null   float64
 901  species_Thunderclap PokÃ©mon    1028 non-null   float64
 902  species_Tiger Cat PokÃ©mon      1028 non-null   float64
 903  species_Time Travel PokÃ©mon    1028 non-null   float64
 904  species_Tiny Bee PokÃ©mon       1028 non-null   float64
 905  species_Tiny Bird PokÃ©mon      1028 non-null   float64
 906  species_Tiny Leaf PokÃ©mon      1028 non-null   float64
 907  species_Tiny Mouse PokÃ©mon     1028 non-null   float64
 908  species_Tiny Pigeon PokÃ©mon    1028 non-null   float64
 909  species_Tiny Raccoon PokÃ©mon   1028 non-null   float64
 910  species_Tiny Robin PokÃ©mon     1028 non-null   float64
 911  species_Tiny Turtle PokÃ©mon    1028 non-null   float64
 912  species_TinyRaccoon PokÃ©mon    1028 non-null   float64
 913  species_TinySwallow PokÃ©mon    1028 non-null   float64
 914  species_Torch PokÃ©mon          1028 non-null   float64
 915  species_Toxic Lizard PokÃ©mon   1028 non-null   float64
 916  species_Toxic Mouth PokÃ©mon    1028 non-null   float64
 917  species_Trainee PokÃ©mon        1028 non-null   float64
 918  species_Transform PokÃ©mon      1028 non-null   float64
 919  species_Transport PokÃ©mon      1028 non-null   float64
 920  species_Trap PokÃ©mon           1028 non-null   float64
 921  species_Trash Bag PokÃ©mon      1028 non-null   float64
 922  species_Trash Heap PokÃ©mon     1028 non-null   float64
 923  species_Tricky Fox PokÃ©mon     1028 non-null   float64
 924  species_Triple Bird PokÃ©mon    1028 non-null   float64
 925  species_Tundra PokÃ©mon         1028 non-null   float64
 926  species_Turn Tail PokÃ©mon      1028 non-null   float64
 927  species_Turtle PokÃ©mon         1028 non-null   float64
 928  species_Tusk PokÃ©mon           1028 non-null   float64
 929  species_Twin Bird PokÃ©mon      1028 non-null   float64
 930  species_Twin Tusk PokÃ©mon      1028 non-null   float64
 931  species_Two-Handed PokÃ©mon     1028 non-null   float64
 932  species_Two-Sided PokÃ©mon      1028 non-null   float64
 933  species_Unique Horn PokÃ©mon    1028 non-null   float64
 934  species_Valiant PokÃ©mon        1028 non-null   float64
 935  species_Vast White PokÃ©mon     1028 non-null   float64
 936  species_Verdant PokÃ©mon        1028 non-null   float64
 937  species_Vibration PokÃ©mon      1028 non-null   float64
 938  species_Victory PokÃ©mon        1028 non-null   float64
 939  species_Viking PokÃ©mon         1028 non-null   float64
 940  species_Vine PokÃ©mon           1028 non-null   float64
 941  species_Virtual PokÃ©mon        1028 non-null   float64
 942  species_Volcano PokÃ©mon        1028 non-null   float64
 943  species_Warrior PokÃ©mon        1028 non-null   float64
 944  species_Water Bird PokÃ©mon     1028 non-null   float64
 945  species_Water Bubble PokÃ©mon   1028 non-null   float64
 946  species_Water Fish PokÃ©mon     1028 non-null   float64
 947  species_Water Gun PokÃ©mon      1028 non-null   float64
 948  species_Water Lizard PokÃ©mon   1028 non-null   float64
 949  species_Water Weed PokÃ©mon     1028 non-null   float64
 950  species_Water lizard PokÃ©mon   1028 non-null   float64
 951  species_Weather PokÃ©mon        1028 non-null   float64
 952  species_Weed PokÃ©mon           1028 non-null   float64
 953  species_Whiskers PokÃ©mon       1028 non-null   float64
 954  species_Whisper PokÃ©mon        1028 non-null   float64
 955  species_White Bird PokÃ©mon     1028 non-null   float64
 956  species_Wicked PokÃ©mon         1028 non-null   float64
 957  species_Wild Bull PokÃ©mon      1028 non-null   float64
 958  species_Wild Duck PokÃ©mon      1028 non-null   float64
 959  species_Wild Monkey PokÃ©mon    1028 non-null   float64
 960  species_Wild Pigeon PokÃ©mon    1028 non-null   float64
 961  species_Willpower PokÃ©mon      1028 non-null   float64
 962  species_Wily PokÃ©mon           1028 non-null   float64
 963  species_Wind Chime PokÃ©mon     1028 non-null   float64
 964  species_Windveiled PokÃ©mon     1028 non-null   float64
 965  species_Wing Fish PokÃ©mon      1028 non-null   float64
 966  species_Wish PokÃ©mon           1028 non-null   float64
 967  species_Wolf PokÃ©mon           1028 non-null   float64
 968  species_Wood Gecko PokÃ©mon     1028 non-null   float64
 969  species_Woodpecker PokÃ©mon     1028 non-null   float64
 970  species_Wool PokÃ©mon           1028 non-null   float64

### Saving Version

In [34]:
df.to_csv("./data/pokedex_enc.csv")