# PokéPredict

In [1]:
import pandas as pd

## Load data

In [2]:
df = pd.read_csv("./data/pokedex.csv", index_col=0)

df.head()

,pokedex_number,name,generation,status,species,type_number,type_1,type_2,height_m,weight_kg,...,speed,catch_rate,base_friendship,base_experience,growth_rate,egg_type_number,egg_type_1,egg_type_2,percentage_male,egg_cycles
0,1,Bulbasaur,1,Normal,Seed Pokémon,2,Grass,Poison,0.7,6.9,...,45,45,50,64,Medium Slow,2,Grass,Monster,87.5,20
1,2,Ivysaur,1,Normal,Seed Pokémon,2,Grass,Poison,1.0,13.0,...,60,45,50,142,Medium Slow,2,Grass,Monster,87.5,20
2,3,Venusaur,1,Normal,Seed Pokémon,2,Grass,Poison,2.0,100.0,...,80,45,50,236,Medium Slow,2,Grass,Monster,87.5,20
3,3,Mega Venusaur,1,Normal,Seed Pokémon,2,Grass,Poison,2.4,155.5,...,80,45,50,281,Medium Slow,2,Grass,Monster,87.5,20
4,4,Charmander,1,Normal,Lizard Pokémon,1,Fire,NaN,0.6,8.5,...,65,45,50,62,Medium Slow,2,Dragon,Monster,87.5,20

## Verify data

In [3]:
assert(df[df['type_number'] == 1]).equals(df[df['type_2'].isnull()])
assert(df[df['type_number'] == 2]).equals(df[~df['type_2'].isnull()])

assert(df[df['abilities_number'] == 1]).equals(df[(df['ability_2'].isnull()) & (df['ability_hidden'].isnull())])
assert(df[df['abilities_number'] == 2]).equals(df[(df['ability_2'].isnull()) ^ (df['ability_hidden'].isnull())])
assert(df[df['abilities_number'] == 3]).equals(df[(~df['ability_2'].isnull()) & (~df['ability_hidden'].isnull())])

assert(df[df['egg_type_number'] == 1]).equals(df[df['egg_type_2'].isnull()])
assert(df[df['egg_type_number'] == 2]).equals(df[~df['egg_type_2'].isnull()])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1025 entries, 0 to 1024
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pokedex_number    1025 non-null   int64
 1   name              1025 non-null   object
 2   generation        1025 non-null   int64
 3   status            1025 non-null   object
 4   species           1025 non-null   object
 5   type_number       1025 non-null   int64
 6   type_1            1025 non-null   object
 7   type_2            541 non-null    object
 8   height_m          1025 non-null   float64
 9   weight_kg         1025 non-null   float64
 10  abilities_number  1025 non-null   int64
 11  ability_1         1025 non-null   object
 12  ability_2         513 non-null    object
 13  ability_hidden    808 non-null    object
 14  total_points      1025 non-null   int64
 15  hp                1025 non-null   int64
 16  attack            1025 non-null   int64
 17  defense           1025 non-null   int64
 18  sp_attack         1025 non-null   int64
 19  sp_defense        1025 non-null   int64
 20  speed             1025 non-null   int64
 21  catch_rate        1025 non-null   int64
 22  base_friendship   1025 non-null   int64
 23  base_experience   1025 non-null   int64
 24  growth_rate       1025 non-null   object
 25  egg_type_number   1025 non-null   int64
 26  egg_type_1        1025 non-null   object
 27  egg_type_2        282 non-null    object
 28  percentage_male   804 non-null    float64
 29  egg_cycles        1025 non-null   int64
dtypes: float64(3), int64(16), object(11)
memory usage: 248.2+ KB